@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

#landing {
  background-image: url("/bg.webp");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  &:before {
    content: "";
    position: absolute;
    inset: 0rem;
    background: linear-gradient(
      -180deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      transparent 40%,
      rgba(0, 0, 0, 0.4) 90%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
