@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@font-face {
  font-family: "Geist";
  src: url("/Geist.ttf") format("ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif;
}

#landing {
  background-image: url("/bg.webp");
  background-size: cover;
  background-position: center;
  &:before {
    content: "";
    position: absolute;
    inset: 0rem;
    background: linear-gradient(
      -180deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0),
      transparent 40%,
      rgba(0, 0, 0, 0.4) 90%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

body {
  overflow-x: hidden;
}

/* Frame 14 */
#f1 {
  box-sizing: border-box;

  position: relative;
  width: 136px;
  height: 45.93px;

  cursor: pointer;
  background: linear-gradient(0deg, #ddeefb -15.69%, #b8aeec 127.45%);
  border-radius: 70px;
  transition: 120ms ease-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #ddeefb44;
  }
  overflow: hidden;
  box-shadow: 10px 10px 30px #ddeefb44;
}

/* Download */
#ftext {
  position: absolute;
  width: 76px;
  height: 31px;
  left: 29px;
  top: 7px;

  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  text-align: center;

  color: #3126a5;
  cursor: pointer;

  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

/* Frame 14 */
#f2 {
  position: absolute;
  width: 122px;
  height: 12px;
  left: 14px;
  top: 4px;
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    linear-gradient(0deg, #ddeefb -15.69%, #b8aeec 127.45%);
  filter: blur(8.5px);
  border-radius: 70px;
}

/* Frame 15 */
#f3 {
  box-sizing: border-box;

  position: absolute;
  width: 122px;
  height: 12px;
  left: 14px;
  top: 38px;

  background:
    linear-gradient(0deg, #e3f3fe, #e3f3fe),
    linear-gradient(0deg, #ddeefb -15.69%, #b8aeec 127.45%);
  filter: blur(8.5px);
  border-radius: 70px;
}
