@import "tailwindcss";

@font-face {
  font-family: "PPLX Sans";
  src: url("/PPLX-Sans-Beta-v1-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@theme {
  --font-sans: "PPLX Sans", system-ui, sans-serif;
  --color-blue: #0c5eff;
  --color-gray: #efefef;
  --color-pink: #fddaff;
  --color-dark: #222222;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 2s ease-out forwards 0.2s;
  opacity: 0;
}

body {
  margin: 0;
  background: white;
}
